.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.list li a{
    height: 22.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}

.image{
    object-fit: cover;
    height:14.5rem;
}

.content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.not{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
    color: grey;
}

.productItemFooter{
    display: flex; /* Changed to a flex row */
    justify-content: space-between; /* This will push the cookTime to the right */
    align-items: center; /* This will vertically align the tags and cookTime */
}

.tags {
    display: flex; /* align tags in a row */
    flex-wrap: wrap; /* Allows tags to wrap to next line if they don't fit */
    align-items: center; /* Vertically aligns tags */
    gap: 5px; /* Adjust space between tags */
}

.cookTime {
    margin-left: auto; /* Pushes the cookTime to the right */
    white-space: nowrap; /* Prevents cookTime from wrapping */
}
.tagButton {
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: red;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }


